* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #f5f7fa;
  height: 100vh;
  width: 100%;
  font-family: "Roboto", sans-serif;
}
.navbar {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 10px 0px;
  height: 44px;
}
.navbar i {
  font-size: 1.5rem;
  color: #dadfe6;
  transition: 500ms ease;
}
.navbar i:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.navbar i:nth-child(1) {
  color: #fe466d;
}
/*photo and actions*/
.photo-and-actions {
  height: calc(100vh - 44px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photo {
  width: 98vw;
  height: 85vh;
  background: url(img/pexels-nishant-aneja-2655471.jpg) center center/cover;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  color: #eee;
  box-shadow: 0 2px 10px 0 rgba(136, 136, 136, 0.77);
}
.photo-text {
  padding: 15px;
  /*cssgradiente.io*/
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(6, 6, 6, 0.641025641025641) 55%,
    rgba(6, 6, 6, 0.8988603988603988) 77%
  );
  border-radius: 10px;
}
.photo-name-and-age {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  font-size: 1.4rem;
}
.photo-name-and-age h2:nth-child(2) {
  margin-left: 1rem;
  font-weight: 500;
}
.photo-bio {
  line-height: 1.7rem;
  font-size: 1.1rem;
  font-weight: 500;
}
.actions {
  display: flex;
  margin: 1rem 0;
  align-items: center;
  flex: auto;
}
.action {
  font-size: 2rem;
  background: #fff;
  box-shadow: 0 2px 6px 0 rgba(112, 125, 1334, 0.14);
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 500ms ease;
}
.action:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.actions .action:nth-child(1) {
  color: #fd5068;
}
.actions .action:nth-child(2) {
  margin: 0 1rem;
  font-size: 1.5rem;
  color: #2db1ff;
  height: 48px;
  width: 48px;
}
.actions .action:nth-child(3) {
  color: #1be4a1;
}
/* Desktop view */
@media (min-width: 1025px) {
  .photo {
    width: 367px;
    height: 684px;
  }
  .navbar {
    width: 400px;
    margin: auto;
  }
}
