@charset "UTF-8";
body{
    background-color:#1CC1FC;
    font-family: Arial, Helvetica, sans-serif;

}
h1{
    color: #072F3D
    ;
}
h1#principal{
    text-align: center;
    background-color: #1491BD;
}
.second{
    text-align: left;
    color: #072F3D;
}
h2{
    text-align: left;
}
p{
    font-weight: bolder;
}