*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
nav{
    background: rgb(0, 0, 0);
    height: 80px;
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    align-items: center;
    color: #eee;
}
.menu{
    font-size: 1rem;
}
a{
    text-decoration: none;
    color: #eee;
    margin: 20px;
}
section#campanha{
    padding: 15px;
    background: #993399;
    color: #eee;
}
h2#primary{
    font-size: 1.7rem;
    padding: 40px 0 40px;
}
p{
    padding: 0 0 40px;
}
button{
    display: flex;
    width: 100%;
    margin: 0 0 30px;
    background: rgba(0, 0, 0, 0);
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    color: #eee;
    text-transform: uppercase;
    font-weight: bold; 
}
#button-primary{
    background: #000;
    border: solid 2px #000;
    
}
#button-second{
    border: solid 2px;
    
}
button:hover{
    cursor: pointer;
    transform: scale(0.99);
}
#vinil{
    border: solid 1px;
}

