body {
  background-color: #a605d3;
  
}
.button {
    display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  outline: 2px solid #fff;
  padding: 20px 60px;
  position: relative;
  overflow: hidden;
  transition: color 1s;
}
.button:hover {
  color: #a605d3;
}
.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50px;
  width: 0;
  height: 100%;
  background-color: #fff;
  transform: skewX(35deg);
  z-index: -1;
  transition: width 1.5s;
}
.button:hover::before {
  width: 150%;
}
